@import "tailwindcss";
@import "@heroui/styles"; 


@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee-premium {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite; 
}


.animate-marquee-premium:hover {
  animation-play-state: paused;
}